{% extends 'shop/base_index.html'  %}

{% block content %}

<div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                        	<h2>404</h2>
                        	<p>Данная страница не найдена.</p>
                        	<p>Вернитесь пожалуйста на главную страницу <a href="/">ais.od.ua</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock content %}