<div>
    <table>
        <thead>
        <th style="width: 1%;">№</th>
        <th style="width: 5%">ID товара</th>
        <th style="width: 5%">Категория</th>
        <th style="width: 40%">Наименование</th>
        <th style="width: 5%">Стоимость</th>
        </thead>
        <tbody>
        {% for item in card.ooo.all %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.object.id }}</td>
            <td>{{ item.object.category }}</td>
            <td>{{ item.object }}</td>
            {% if item.object.in_sale == True %}
                <td>{{ item.object.sale_price }}</td>
            {% else %}
                <td>{{ item.object.price }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
    </ul>
</div>