                {% for p in cart.items.all %}
                <div class="single-cart-item">
                    <a href="{{ p.product.get_absolute_url }}" class="product-image">
                        <img src="{{ p.product.image.url }}" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                          <span class="product-remove" data-id="{{ p.product.id }}"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">{{ p.product.model_phone }}</span>
                            <h6>{{ p.product.head_title }}</h6><!-- 
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p> -->
                            {% if p.product.in_sale == True %}
                                <p class="price">{{ p.product.sale_price }} грн</p>
                            {% else %}
                                <p class="price">{{ p.product.price }} грн</p>
                            {% endif %}
                            
                        </div>
                    </a>
                </div>
                {% endfor %}