{% extends 'shop/base_index.html' %}
{% load staticfiles %}

{% block content %}
{% for p in content_main_page %}
<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area bg-img background-overlay" style="background-image: url({{ p.head_image.url }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h6>{{ p.sub_head_text }}</h6>
                    <h2>{{ p.head_text }}</h2>
                    <a href="{{ p.url_button }}" class="btn essence-btn">{{ p.text_btn }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<!-- ##### Welcome Area End ##### -->

<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory -->

            {% for menu in get_menu %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({{ menu.image.url }});">
                    <div class="catagory-content">
                        <a href="shop/{{ menu.slug }}">{{ menu.title }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->
{% for p in content_main_page %}
    {% if p.is_active_sale == True %}
        <!-- ##### CTA Area Start ##### -->
        <div class="cta-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cta-content bg-img background-overlay" style="background-image: url({{ p.sale_img.url }});">
                            <div class="h-100 d-flex align-items-center justify-content-end">
                                <div class="cta--text">
                                    <h6>{{ p.percent }}</h6>
                                    <h2>{{ p.text }}</h2>
                                    <a href="{{ p.btn_sale }}" class="btn essence-btn">{{ p.text_btn_sale }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
<!-- ##### CTA Area End ##### -->
{% endfor %}
<!-- ##### Sale Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Распродажа</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">
                    {% for prod in products_sale %}
                        <!-- Single Product -->
                        <div class="single-product-wrapper carousel__item">
                            <!-- Product Image -->
                            <a href="{{ prod.get_absolute_url }}">
                            <div class="product-img">
                                <img src="{{ prod.image.url }}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="{{ prod.images.all.first.image.url }}" alt="">
                                <div class="product-badge offer-badge">
                                    <span>Sale</span>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>{{ prod.model_phone.title }}</span>
                                <a href="{{ prod.get_absolute_url }}">
                                    <h6>{{ prod.head_title }}</h6>
                                </a>
                                <p class="product-price"><span class="old-price">{{ prod.price }} грн</span> {{ prod.sale_price }} грн</p>

                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a href="#" class="btn essence-btn add_to_b add_product_js" data-id="{{ prod.id }}">Добавить в корзину</a>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Sale Arrivals Area End ##### -->

<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Новые товары</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">
                    {% for prod in products_new %}
                        <!-- Single Product -->
                        
                        <div class="single-product-wrapper carousel__item">
                            <a href="{{ prod.get_absolute_url }}">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{ prod.image.url }}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="{{ prod.images.all.first.image.url }}" alt="">
                                <div class="product-badge new-badge">
                                    <span>New</span>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>{{ prod.model_phone.title }}</span>
                                <a href="{{ prod.get_absolute_url }}">
                                    <h6>{{ prod.head_title }}</h6>
                                </a>
                                <p class="product-price">{{ prod.price }} грн</p>

                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a href="#" class="btn essence-btn add_to_b add_product_js" data-id="{{ prod.id }}">Добавить в корзину</a>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->

<!-- ##### Brands Area Start ##### -->

<!-- ##### Brands Area End ##### -->

{% endblock content %}