{% extends 'shop/base_index.html' %}
{% load staticfiles %}

{% block content %}


<!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
            	<img src="{{ products.image.url }}" alt="">
            	{% for img in image_list %}
                	<img src="{{ img.image.url }}" alt="">
            	{% endfor %}

            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>{{ products.model_phone }}</span>
                <h2>{{products.head_title}}</h2>
            {% if products.in_sale == True %}
                <p class="product-price">
                    <span class="old-price">{{ products.price }} грн</span>{{ products.sale_price }} грн
                </p>
            {% else %}
                <p class="product-price">{{ products.price }} грн</p>
            {% endif %}
            <p>Арт. {{ products.id }}</p>
            <p class="product-desc">{{ products.specifications|safe }}</p>
            <p class="product-desc">{{ products.properties|safe }}</p>

            <!-- Form -->
            <a href="#" class="btn essence-btn add_to_b my_btn_w" data-id="{{ products.id }}">Добавить в корзину</a>
            <a href="#" class="btn essence-btn my_btn_w" data-toggle="modal" data-target="#by_one_click_modal">Купить в 1 клик</a>
            <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#by_one_click_one">Open Modal</button> -->
        </div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->



{% endblock %}
